.App{
  margin: 0px;
  padding: 100px;
   box-sizing: border-box ;
  text-align: center;
  
  border: 5px solid red;
  width :auto;
  justify-content: space-around;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }